<div class="container">
  <h2>Логін</h2>
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Логін</mat-label>
      <input matInput formControlName="username" required type="text" />
    </mat-form-field>

    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Пароль</mat-label>
      <input matInput type="password" formControlName="password" required />
    </mat-form-field>

    <button mat-raised-button color="primary" type="submit" [disabled]="loginForm.invalid">
      Увійти
    </button>
  </form>
</div>
