<dl-editor-settings [settingsForm]="settingsForm"></dl-editor-settings>
<dl-editor-guide></dl-editor-guide>
<section>
  <button mat-stroked-button class="generate-btn" (click)="submit()">Erzeugen</button>
</section>
<mat-progress-bar mode="indeterminate" *ngIf="isLoading"></mat-progress-bar>
<section>
  <mat-card>
    <mat-form-field>
      <mat-label>Quellwörter</mat-label>
      <textarea matInput [formControl]="getControl('sourceWords')"></textarea>
    </mat-form-field>
    @if (settingsForm.get('autogenerateText')?.value) {
      <mat-form-field>
        <mat-label>Betreff des Textes</mat-label>
        <input matInput [formControl]="getControl('context')" placeholder="Geben Sie den Betreff des Textes ein...">
      </mat-form-field>
    } @else {
      <quill-editor #quillInput></quill-editor>
    }
  </mat-card>
</section>
<dl-content-preview *ngIf="generatedContent" [content]="generatedContent"></dl-content-preview>
