.container {
  width: 90%;
  margin: 0 auto;
}

.full-width {
  width: 100%;
  margin-bottom: 16px;
}

h2 {
  text-align: center;
}

.roles-container {
  margin-bottom: 16px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}
