:host {
  display: block;
  padding: 5px;
}
form {
  margin-bottom: 16px;
}
.form-options {
  display: flex;
  gap: 16px;
  &.wide {
    width: 100%;
    mat-form-field {
      width: 45%;
    }
  }
}
.total-value {
  display: inline-block;
  margin-left: 5px;
  font-style: italic;
  font-weight: normal;
}
.preview-card {
  margin-top: 16px;
}
.preview-footer {
  padding: 16px;
  button {
    margin-right: 8px;
  }
}
mat-card-title {
  padding-bottom: 8px;
}
quill-editor  {
  width: 100%;
}

