<form [formGroup]="settingsForm">
  <section>
    <mat-form-field class="task-type-field">
      <mat-label>Aufgabentyp auswählen</mat-label>
      <mat-select formControlName="taskType" multiple>
        @for (task of taskTypesList; track $index) {
          <mat-option [value]="task.id">{{task.description}}</mat-option>
        }
      </mat-select>
      <mat-error *ngIf="settingsForm.get('taskType')?.invalid">
        Bitte wählen Sie mindestens einen Aufgabentyp aus.
      </mat-error>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Zeitformen</mat-label>
      <mat-select multiple formControlName="tenses">
        @for (tens of tenses; track $index) {
          <mat-option [value]="tens">{{tens}}</mat-option>
        }
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Form</mat-label>
      <mat-select formControlName="activeForm" multiple>
        @for (type of formTypes; track $index) {
          <mat-option [value]="type">{{ type }}</mat-option>
        }
      </mat-select>
    </mat-form-field>
  </section>
  <section>
    <mat-form-field>
      <mat-label>Kasus</mat-label>
      <mat-select formControlName="kasus" multiple>
        @for (item of kasus; track $index) {
          <mat-option [value]="item">{{item}}</mat-option>
        }
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Deklination</mat-label>
      <mat-select formControlName="deklination" multiple>
        @for (item of deklinationTypes; track $index) {
          <mat-option [value]="item">{{item}}</mat-option>
        }
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Konjunktiv</mat-label>
      <mat-select formControlName="konjunktiv" multiple>
        @for (kon of konjunktiv; track $index) {
          <mat-option [value]="kon">{{kon}}</mat-option>
        }
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Hilfsverben</mat-label>
      <mat-select formControlName="helperVerbs" multiple>
        @for (verb of helperVerbs; track $index) {
          <mat-option [value]="verb">{{verb}}</mat-option>
        }
      </mat-select>
    </mat-form-field>
  </section>
  <section>
    <mat-button-toggle-group formControlName="count">
      @for (item of countList; track $index) {
        <mat-button-toggle [value]="item">{{item}} Sätze</mat-button-toggle>
      }
    </mat-button-toggle-group>
    <mat-radio-group formControlName="language">
      <mat-radio-button value="English">English</mat-radio-button>
      <mat-radio-button value="German">Deutsch</mat-radio-button>
    </mat-radio-group>
    <mat-button-toggle-group formControlName="languageLevel">
      @for (language of languageLevelList; track $index) {
        <mat-button-toggle [value]="language">{{language}}</mat-button-toggle>
      }
    </mat-button-toggle-group>
  </section>
<!--  <section>-->
  <!--    <mat-expansion-panel>-->
<!--      <mat-expansion-panel-header>-->
<!--        <mat-panel-title> Aufgabentyp auswählen </mat-panel-title>-->
<!--        <mat-panel-description> ausgewählt: *** </mat-panel-description>-->
<!--      </mat-expansion-panel-header>-->
<!--      <section formControlName="taskType">-->
<!--        @for (task of taskTypesList; track task.id) {-->
<!--          <p><mat-checkbox [value]="task.id">{{task.description}}</mat-checkbox></p>-->
<!--        }-->
<!--      </section>-->
<!--    </mat-expansion-panel>-->
<!--  </section>-->
</form>
