@use "@angular/material" as mat;
@use './vars' as *;

//https://themes.angular-material.dev/?seed-error=%23ff6f6f&seed-neutral=%23e0e0e0&seed-neutral-variant=%23737970&seed-primary=%23dfffd7&seed-secondary=%2387d3ff&seed-tertiary=%23ffdf80

// possible values for color:
//$red-palette
//$green-palette
//$blue-palette
//$yellow-palette
//$cyan-palette
//$magenta-palette
//$orange-palette
//$chartreuse-palette
//$spring-green-palette
//$azure-palette
//$violet-palette
//$rose-palette
html {
  @include mat.theme((
    color: (
      primary: mat.$spring-green-palette,
      tertiary: mat.$azure-palette,
      theme-type: light,
    ),
    typography: Roboto,
    density: 0,
  ));
}

/* Light Theme */
:root, :host {
  @include mat.theme-overrides((
    primary: #fb9204,
    on-primary: #ffffff,
    primary-container: #ccebc4,
    on-primary-container: #072108,
    inverse-primary: #b0cfa9,
    primary-fixed: #ccebc4,
    primary-fixed-dim: #b0cfa9,
    on-primary-fixed: #072108,
    on-primary-fixed-variant: #334d30,
    secondary: #00658b,
    on-secondary: #ffffff,
    secondary-container: #c4e7ff,
    on-secondary-container: #001e2c,
    secondary-fixed: #c4e7ff,
    secondary-fixed-dim: #83cffb,
    on-secondary-fixed: #001e2c,
    on-secondary-fixed-variant: #004c69,
    tertiary: #735c04,
    on-tertiary: #ffffff,
    tertiary-container: #ffe085,
    on-tertiary-container: #231b00,
    tertiary-fixed: #ffe085,
    tertiary-fixed-dim: #e2c468,
    on-tertiary-fixed: #231b00,
    on-tertiary-fixed-variant: #574500,
    background: #fcf8f8,
    on-background: #1c1b1b,
    surface: #fcf8f8,
    surface-dim: #ddd9d9,
    surface-bright: #fcf8f8,
    surface-container-lowest: #ffffff,
    surface-container-low: #f6f3f2,
    surface-container: #f1edec,
    surface-container-high: #ebe7e7,
    surface-container-highest: #e5e2e1,
    on-surface: #1c1b1b,
    shadow: #000000,
    scrim: #000000,
    surface-tint: #5d5f5f,
    inverse-surface: #313030,
    inverse-on-surface: #f4f0ef,
    outline: #747878,
    outline-variant: #c5c7c0,
    neutral: #797776,
    neutral10: #1c1b1b,
    error: #ba1a1a,
    error-container: #ffdad6,
    on-error: #ffffff,
    on-error-container: #410002,
    surface-variant: #ccebc48f,
    on-surface-variant: #444843,
    neutral-variant: #757872,
    neutral-variant20: #2e312d,
    inverse-secondary: #83cffb,
    inverse-tertiary: #e2c468,
  ));
}

/* Dark Theme */
.dark {
  @include mat.theme-overrides((
    primary: #fb9204,
    on-primary: #1d361c,
    primary-container: #334d30,
    on-primary-container: #ccebc4,
    inverse-primary: #4a6547,
    primary-fixed: #ccebc4,
    primary-fixed-dim: #b0cfa9,
    on-primary-fixed: #072108,
    on-primary-fixed-variant: #334d30,
    secondary: #83cffb,
    on-secondary: #00344a,
    secondary-container: #004c69,
    on-secondary-container: #c4e7ff,
    secondary-fixed: #c4e7ff,
    secondary-fixed-dim: #83cffb,
    on-secondary-fixed: #001e2c,
    on-secondary-fixed-variant: #004c69,
    tertiary: #e2c468,
    on-tertiary: #3c2f00,
    tertiary-container: #574500,
    on-tertiary-container: #ffe085,
    tertiary-fixed: #ffe085,
    tertiary-fixed-dim: #e2c468,
    on-tertiary-fixed: #231b00,
    on-tertiary-fixed-variant: #574500,
    background: #141313,
    on-background: #e5e2e1,
    surface: #141313,
    surface-dim: #141313,
    surface-bright: #3a3939,
    surface-container-lowest: #0e0e0e,
    surface-container-low: #1c1b1b,
    surface-container: #201f1f,
    surface-container-high: #2a2a2a,
    surface-container-highest: #353434,
    on-surface: #e5e2e1,
    shadow: #000000,
    scrim: #000000,
    surface-tint: #c6c6c6,
    inverse-surface: #e5e2e1,
    inverse-on-surface: #313030,
    outline: #8e9192,
    outline-variant: #444843,
    neutral: #797776,
    neutral10: #1c1b1b,
    error: #ffb4ab,
    error-container: #93000a,
    on-error: #690005,
    on-error-container: #ffdad6,
    surface-variant: #ccebc48f,
    on-surface-variant: #c5c7c0,
    neutral-variant: #757872,
    neutral-variant20: #2e312d,
    inverse-secondary: #00658b,
    inverse-tertiary: #735c04,
  ));
}

:root {
  @include mat.toolbar-overrides((
    container-background-color: $primary-color,
    standard-height: $toolbar-height,
  ));
}
