
$primary-color: #dfffd7;
$accent-color: #fb9204;
$secondary-color: #87d3ff;
$tertiary-color: #ffdf80;
$neutral-color: #fcf8f8;
$neutral-variant-color: #737970;
$error-color: #ff6f6f;


$toolbar-height: 56px;
$main-height: calc(100vh - #{$toolbar-height});
