<mat-toolbar>
  <img src="assets/logo_ld-final.png" class="logo-img" routerLink="/" alt="Deutsch Lernen" i18n-alt="@@navLogoAlt">
  @if (isLoggedIn$()) {
    <button mat-button routerLink="/task-assistant" i18n="@@navTasksAssistant">Aufgaben Assistent</button>
    <button mat-button routerLink="/" i18n="@@navWorksheetAssistant">Arbeitsblatt Assistent</button>
  }

  <span class="spacer"></span>

  @if (isLoggedIn$()) {
    <div class="language-switcher" aria-label="Language" i18n-aria-label="@@navLanguageSwitcherLabel">
      <button mat-button type="button" [matMenuTriggerFor]="languageMenu">
        <span>{{ activeLanguage.toUpperCase() }}</span>
      </button>
      <mat-menu #languageMenu="matMenu">
        @for (lang of supportedLanguages; track lang) {
          <button mat-menu-item type="button" [disabled]="activeLanguage === lang" (click)="switchLanguage(lang)">
            <span>{{ lang.toUpperCase() }}</span>
          </button>
        }
      </mat-menu>
    </div>
    <button mat-button [matMenuTriggerFor]="menu">
      <span class="user-name" *ngIf="user$()">{{user$().name | titlecase}}</span>
      <mat-icon>person</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item (click)=logout()> <mat-icon>logout</mat-icon> <span i18n="@@navLogout">Logout</span></button>
      <button mat-menu-item (click)="checkConnection()"> <mat-icon>network_ping</mat-icon> <span i18n="@@navCheckConnection">Check Connection</span></button>
    </mat-menu>
  } @else {
    <button mat-icon-button routerLink="/login" aria-label="Anmelden" i18n-aria-label="@@navLoginAriaLabel">
      <mat-icon>login</mat-icon>
    </button>
  }
</mat-toolbar>
