<mat-toolbar>
  <img src="/assets/logo_ld-final.png" class="logo-img" routerLink="/">
  <button mat-button routerLink="/task-assistant">Aufgaben Assistent</button>
  <button mat-button routerLink="/">Arbeitsblatt Assistent</button>
  <button mat-button routerLink="/editor">Editor</button>
  <span class="spacer"></span>
  @if (isLoggedIn$()) {
    <span class="user-role" *ngIf="user$()">{{user$().role | role}}</span>
    <button mat-button [matMenuTriggerFor]="menu">
      <span class="user-name" *ngIf="user$()">{{user$().name | titlecase}}</span>
      <mat-icon>person</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item (click)=logout()> <mat-icon>logout</mat-icon> Logout</button>
      <button mat-menu-item (click)="checkConnection()"> <mat-icon>network_ping</mat-icon> Check Connection</button>
    </mat-menu>
  } @else {
    <button mat-icon-button routerLink="/login">
      <mat-icon>login</mat-icon>
    </button>
  }
</mat-toolbar>
