.spacer {
  flex: 1 1 auto;
}
.logo-img {
  width: 32px;
  height: 32px;
}
.user-name, .user-role {
  font-size: 15px;
  font-weight: 500;
}
.user-role {
  display: inline-block;
  margin-right: 5px;
}
