<h2 mat-dialog-title i18n="@@previewRequestTitle">Antrag auf Aufgabenerstellung.</h2>
<mat-dialog-content>
  <p i18n="@@previewRequestDescription">Bitte vergewissern Sie sich, dass Ihr Antrag alle erforderlichen Bedingungen
    enthält und Ihren Wünschen entspricht.</p>
  @for (option of options; track $index) {
    <p>
      <span class="option-name">{{ option.key }}:</span>
      <span class="option-value">{{ option.value }}</span>
    </p>
  }


</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button (click)="close(false)" i18n="@@previewRequestBackButton">Zurück zur Auswahl der Optionen</button>
  <button mat-button (click)="close(true)" cdkFocusInitial i18n="@@previewRequestConfirmButton">Bestätige</button>
</mat-dialog-actions>
