<aside>
  <button mat-button routerLink="text-generator" routerLinkActive="active-link"><span i18n="@@tasksNavGenerateText">Text generieren</span><mat-icon>notes</mat-icon></button>
  <button mat-button routerLink="task-editor" routerLinkActive="active-link"><span i18n="@@tasksNavEditText">Text bearbeiten</span><mat-icon>edit_note</mat-icon></button>
  <button mat-button routerLink="vocabulary-editor" routerLinkActive="active-link"><span i18n="@@tasksNavVocabulary">Wortschatz</span><mat-icon>abc</mat-icon></button>
</aside>
<main>
  <router-outlet></router-outlet>
</main>
