@use 'vars' as *;
:host{
  display: flex;
  width: 100%;
}
aside {
  width: 200px;
  flex-shrink: 0;
  min-height: $main-height;
  border-right: 1px solid #ccc;
  padding-top: 16px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
button {
  width: 100%;
  text-align: start;
}
mat-list-item {
  cursor: pointer;
  vertical-align: center;

}
main {
  flex-grow: 1;
  overflow: auto;
}
.active-link {
  background: $primary-color;
}
