<h2>Text bearbeiten</h2>
<form [formGroup]="gapTextForm">
  <mat-accordion multi>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title> <h3>Basistext</h3> </mat-panel-title>
      </mat-expansion-panel-header>
      <dl-text-input [textControl]="rawText" (onSelect)="addSelectedWords($event)"></dl-text-input>
    </mat-expansion-panel>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title> <h3>Lückentext</h3> </mat-panel-title>
      </mat-expansion-panel-header>
      <mat-checkbox>Erstellen Sie einen Lückentext mit ausgewählten Wörtern aus dem Text. Doppelklicken Sie auf ein gewünschtes Textwort, um es in die Liste aufzunehmen.</mat-checkbox>
      <mat-form-field class="width-100">
        <mat-label>Ausgewählte Wörter</mat-label>
        <textarea matInput formControlName="wordList"></textarea>
        <mat-error *ngIf="gapTextForm.get('wordList')?.invalid">
          Bitte geben Sie ein Wort ein, bevor Sie eine Aufgabe generieren.
        </mat-error>
      </mat-form-field>
      <mat-divider></mat-divider>
      <mat-checkbox>Erstellen Sie Text mit Lücken anstelle aller Verben, die den ausgewählten Parametern entsprechen.</mat-checkbox>
      <form formGroupName="adjective">
        <div class="form-options">
          <h4>Deklination nach</h4>
          <mat-form-field>
            <mat-label>Artikel</mat-label>
            <mat-select formControlName="article">
              @for (item of article; track $index) {
                <mat-option [value]="item.article">{{item.title}}</mat-option>
              }
            </mat-select>
          </mat-form-field>
          <h4>mit</h4>
          <mat-form-field>
            <mat-label>Kasus</mat-label>
            <mat-select formControlName="kasus">
              <mat-option [value]="null">None</mat-option>
              @for (item of kasus; track $index) {
                <mat-option [value]="item">{{item}}</mat-option>
              }
            </mat-select>
          </mat-form-field>
        </div>
        <div class="form-options">
          <h4>Steigerungsform</h4>
          <mat-form-field>
            <mat-label>Steigerungsform</mat-label>
            <mat-select formControlName="comparison">
              <mat-option [value]="null">None</mat-option>
              @for (item of comparisons; track $index) {
                <mat-option [value]="item.comparison">{{item.title}}</mat-option>
              }
            </mat-select>
          </mat-form-field>
        </div>
      </form>
      <mat-divider></mat-divider>
    </mat-expansion-panel>

  </mat-accordion>
</form>
<button mat-stroked-button (click)="submit()">Aufgaben generieren<mat-icon>smart_toy</mat-icon></button>

