@use '@angular/material' as mat;
@use './styles/vars' as *;
@use './styles/material-custom-theme';

@font-face {
  font-family: 'Playwrite';
  src: url('./styles/fonts/PlaywriteDESASGuides-Regular.ttf')format('truetype');
}

@font-face {
  font-family: 'Roboto';
  src: url('./styles/fonts/Roboto-VariableFont_wdth,wght.ttf')format('truetype');
}

html, body {
  height: 100%;
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  background-color: $neutral-color;
}
.ql-editor {
  font-size: 1.5em;
}
.card-text {
  line-height: 1.5;
  font-family: Georgia, 'Times New Roman', serif;
}
