@use 'quill/dist/quill.snow.css';
@use '@angular/material' as mat;
@use './styles/material-custom-theme';

html, body {
  height: 100%;
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: "Gill Sans", sans-serif;
}
.ql-editor {
  font-size: 1.5em;
}
.card-text {
  line-height: 1.5;
  font-family: Georgia, 'Times New Roman', serif;
}
