@use 'quill/dist/quill.snow.css';
@use '@angular/material' as mat;
@use './styles/material-custom-theme';

html, body {
  height: 100%;
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
.ql-editor {
  font-size: 18px;
}
