<header>
  <div class="header-name">Deutsch Lernen</div>
  <div class="description">Lassen Sie in Sekunden Übungen und Texte erstellen – auf deinem Niveau, für deinen Wortschatz.</div>
  <button *ngIf="!isLoggedIn$()" mat-raised-button routerLink="/login">
    Anmelden<mat-icon>login</mat-icon>
  </button>
</header>
<main>

  <section class="description">
    <mat-card appearance="outlined">
      <mat-card-header>
        <mat-card-title>Unsere Funktionen</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <div> - Automatische Generierung von Übungen</div>
        <div> - Individuelle Anpassung an dein Lernniveau</div>
        <div> - Interaktive Texte und Aufgaben</div>
        <div> - Fortschrittsverfolgung und Korrekturen</div>
      </mat-card-content>

    </mat-card>

    <mat-card appearance="outlined">
      <mat-card-header>
        <mat-card-title>Wie funktioniert das?</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <div>
          <div> - Registriere dich oder melde dich an</div>
          <div> - Wähle ein Thema oder gib einen Text ein</div>
          <div> - Generiere passende Übungen automatisch</div>
          <div> - Lass deine Aufgaben korrigieren und verfolge deinen Fortschritt</div>
        </div>
      </mat-card-content>

    </mat-card>

    <mat-card appearance="outlined">
      <mat-card-header>
        <mat-card-title>Für wen ist Tekamolo gedacht?</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <div>
          <div> - Für Deutschlehrer*innen – spare Zeit bei der Unterrichtsvorbereitung</div>
          <div> - Für Lernende – lerne gezielt, flexibel und effektiv</div>
          <div> - Für alle, die sich auf Prüfungen wie Goethe-Zertifikat oder TELC vorbereiten</div>
        </div>
      </mat-card-content>

    </mat-card>
  </section>
</main>
